{% load i18n %}
{% load blacklist_tags %}
{% load django_bootstrap5 %}

<p class="text-center">{% translate "Please ensure the details below are correct!" %}</p>
{% if name.category == 'character' %}
    <div class="d-flex flex-row align-items-center justify-content-center">
        <div class="text-center h-100 m-3">
            {% eve_logo name.id name.name name.category 128 %}
            <h3>{{ name.name }}</h3>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center m-3">
            {% eve_logo char_info.corporation_id corp_info.name "corporation" 64 %}
            <h5>{{ corp_info.name }}</h5>
            {% eve_logo corp_info.alliance_id alliance_info.name "alliance" 64 %}
            <h5>{{ alliance_info.name }}</h5>
        </div>
    </div>
{% else %}
    <div class="text-center clearfix">
        <div class="text-center">
            {% eve_logo name.id name.name name.category 128 %}
            <h4>{{ name.name }}</h4>
        </div>
    </div>
{% endif %}
<hr>
<div class="w-100">
    <form action="/blacklist/add_note/{{ name.id }}/" method="post">
        {% csrf_token %}
        <input type="hidden" name="eve_name" value="{{ name.name }}" />
        <input type="hidden" name="eve_cat" value="{{ name.category }}" />
        {% if name.category == 'character' %}
            <input type="hidden" name="corporation_id" value="{{ char_info.corporation_id }}" />
            <input type="hidden" name="corporation_name" value="{{ corp_info.name }}" />
            {% if alliance_info %}
                <input type="hidden" name="alliance_id" value="{{ corp_info.alliance_id }}" />
                <input type="hidden" name="alliance_name" value="{{ alliance_info.name }}" />
            {% endif %}
        {% endif %}
        {{ form.reason.errors }}
        {% bootstrap_field form.reason %}
        {% if perms.blacklist.add_restricted_eve_notes %}
            {{ form.restricted.errors }}
            <span class="text-warning">
                {% bootstrap_field form.restricted %}
            </span>
        {% endif %}
        {% if perms.blacklist.add_ultra_restricted_eve_notes %}
            {{ form.ultra_restricted.errors }}
            <span class="text-warning">
                {% bootstrap_field form.ultra_restricted %}
            </span>
        {% endif %}
        {% if perms.blacklist.add_to_blacklist %}
            {{ form.blacklisted.errors }}
            <span class="text-danger">
                {% bootstrap_field form.blacklisted %}
            </span>
        {% endif %}
        {% if name.category == 'character' %}
            <span class="text-info">
                {% bootstrap_field form.all_linked_chars %}
            </span>
        {% endif %}
        <input type="submit" value="Submit" class="btn w-100 btn-primary" />
    </form>
</div>
