{% extends 'blacklist/base.html' %}
{% load i18n %}
{% load blacklist_tags %}
{% load humanize %}

{% block header_nav_brand %}
    {% translate "Blacklist" %}
{% endblock %}

{% block tb_block %}
    <div id="blacklist">
        {% if blacklist %}
            <table class="table table-striped" id="blacklist-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% translate "Name" %}</th>
                        <th>{% translate "Reason" %}</th>
                        <th>{% translate "Category" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% comment %} {% for note in blacklist %}
                        <tr>
                            <td class="text-center" style="vertical-align:middle;">
                                {% eve_logo note.eve_id note.eve_name note.eve_catagory 64 %}
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                                <p>
                                    {{ note.eve_name }}
                                    {% if note.eve_catagory == 'character' %}
                                        <br />
                                        <span class="label label-default">{{ note.corporation_name }}</span>
                                        <br />
                                        <span class="label label-default">{{ note.alliance_name }}</span>
                                    {% endif %}
                                </p>
                            </td>
                            <td style="vertical-align:middle;">
                                <p style="white-space: pre-wrap; word-wrap: break-word">
                                    {% if note.restricted %}
                                        {% translate "Restricted Content! Contact" %} {{ note.added_by }}
                                    {% else %}
                                        {{ note.reason }}
                                    {% endif %}
                                </p>
                            </td>

                            <!-- for filtering -->
                            <td class="text-center" style="vertical-align:middle;">{{ note.eve_catagory }}</td>
                        </tr>
                    {% endfor %} {% endcomment %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning text-center">
                {% translate "No one is yet to be Blacklisted. You guys are so nice!" %}
            </div>
        {% endif %}
    </div>
{% endblock tb_block %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js-bs5.html' %}

    <script>
        $(document).ready(function() {
            $('#blacklist-table').DataTable({
                serverSide: true,
                ajax: '/blacklist/tables/blacklist_table',
                columnDefs: [
                    { "searchable": false, "targets": [0] },
                    { "sortable": false, "targets": [0,2] },
                    { "visible": false, "targets": [3] }
                ],
                order: [
                    [1, "asc"]
                ],
                pageLength: 10,
                responsive : true
            });
        });
    </script>
{% endblock extra_javascript %}
{% block extra_css %}
    {% include 'bundles/datatables-css-bs5.html' %}
{% endblock %}
