{% extends 'blacklist/base.html' %}
{% load i18n %}
{% load blacklist_tags %}
{% load humanize %}

{% block header_nav_brand %}
    {% translate "Blacklist" %}
{% endblock %}
{% block page_title %}
    {% translate "Blacklist" %}
{% endblock page_title %}

{% block tb_block %}
    <div id="blacklist">
        {% if blacklist %}
            <table class="table table-striped" id="blacklist-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% translate "Name" %}</th>
                        <th>{% translate "Reason" %}</th>
                        <th>{% translate "Category" %}</th>
                    </tr>
                </thead>
            </table>
        {% else %}
            <div class="alert alert-warning text-center">
                {% translate "No one is yet to be Blacklisted. You guys are so nice!" %}
            </div>
        {% endif %}
    </div>
{% endblock tb_block %}

{% block extra_javascript %}
    <script src="https://cdn.datatables.net/2.3.6/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.6/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.datatables.net/columncontrol/1.2.0/js/dataTables.columnControl.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.8/js/dataTables.responsive.min.js" integrity="sha384-jp1JS4vMvRmld4ZK9Co4AZftrm1tt3FbEZrCdFZIcoRiazQGkTqOS1QqI060oG2F" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.8/js/responsive.bootstrap5.js" integrity="sha384-hyp/YDWGBMFqg7pJuS+y+2VWJkwnOyX+oMN9fWcxINo2flqjC/SdNaHj8LIV4zKJ" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#blacklist-table').DataTable({
                serverSide: true,
                ajax: '/blacklist/tables/blacklist_table',
                columnDefs: [
                    {
                        targets: 0,
                        columnControl: [],
                        sortable: false,
                        searchable: false

                    },
                    {
                        targets: [1,2,3],
                        columnControl: [
                            {
                                target: 0,
                                content: []
                            },
                            {
                                target: 1,
                                content: ['search']
                            }
                        ],
                    },
                    { responsivePriority: 1, targets: [1, 2] },
                    { responsivePriority: 99999999, targets: [0] },
                ],
                order: [
                    [1, "asc"]
                ],
                pageLength: 10,
                responsive : true
            });
        });
    </script>
{% endblock extra_javascript %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.bootstrap5.css" />
    <link href="https://cdn.datatables.net/columncontrol/1.2.0/css/columnControl.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/3.0.8/css/responsive.bootstrap5.min.css" rel="stylesheet" integrity="sha384-seyUnB//1QOFEqox9uI7YTLBgz9jBwFRqZvsEPFrTw6NAsFEo70nhBWsQfODqiYA" crossorigin="anonymous">
{% endblock %}
