{% load i18n %}
{% load blacklist_tags %}
{% load django_bootstrap5 %}

<div class="clearfix">
    {% if note.eve_catagory == 'character' %}
        <div class="text-center">
            <div class="text-center">
                {% eve_logo note.eve_id note.eve_name note.eve_catagory 128 %}
                <h4>{{ note.eve_name }}</h4>
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <div class="text-center">
                {% eve_logo note.eve_id note.eve_name note.eve_catagory 128 %}
                <h4>{{ note.eve_name }}</h4>
            </div>
        </div>
    {% endif %}
    <div>
        <form action="/blacklist/add_comment/{{ note.id }}/" method="post">
            {% csrf_token %}
            <input type="hidden" name="note_id" value="{{ note.id }}" />
            {{ form.comment.errors }}
            {% bootstrap_field form.comment %}
            {% if perms.blacklist.add_new_eve_note_restricted_comments %}
                {{ form.restricted.errors }}
                <span class="text-warning">
                    {% bootstrap_field form.restricted %}
                </span>
            {% endif %}
            {% if perms.blacklist.add_new_eve_note_ultra_restricted_comments %}
                {{ form.ultra_restricted.errors }}
                <span class="text-warning">
                    {% bootstrap_field form.ultra_restricted %}
                </span>
            {% endif %}
            <input type="submit" value="Submit" class="btn w-100 btn-primary" />
        </form>
    </div>
</div>
