{% load i18n %}
{% load humanize %}
{% if comments %}
{% for comment in comments %}
    {% if forloop.first %}
    {% else %}
    {% endif %}
        {% if comment.restricted %}
            {% if view_restricted_comment or add_restricted_comment %}
                <p class="text-center"><b>{{comment.added_by}}</b> ({{ comment.comment_date|naturaltime }}) <span class="label label-warning fa fa-shield" title="Restricted"> </span></p>
                <p class="text-center" style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{ comment.comment }}</p>
            {% endif %}
        {% else %}
                <p class="text-center"><b>{{comment.added_by}}</b> ({{ comment.comment_date|naturaltime }})</p>
                <p class="text-center" style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;">{{ comment.comment }}</p>
        {% endif %}
    {% if forloop.last %}
    {% endif %}
{% empty %}
{% endfor %}
{% else %}
{% endif %}
