{% load i18n %}
{% load blacklist_tags %}
<div>
    <div class="alert alert-warning">{% translate "No Character Selected to authenticate the Search API" %}</div>
    <p>
        {% blocktranslate %}Please select a character to search the API. for more information please see <a href="https://github.com/esi/esi-issues/commit/16df15c8949198273a3ea920398d34537380026e">This Change by CCP{% endblocktranslate %}</a>
    </p>
    <a href="/blacklist/set/" class="btn btn-default col-xs-12">{% translate "Pick Character and add Token" %}</a>
</div>
<div class="clearfix"></div>
