{% load i18n %}
{% load blacklist_tags %}
{% if message %}
    <p class="alert text-center alert-warning">{% translate "ESI Error:" %} {{ message }}</p>
{% endif %}

{% if names %}
    <p class="text-center col-md-12">{% translate "Pick from below or search again!" %}</p>
    <table class="table dataTable table-hover" id="searched-names">
        <thead>
            <tr>
                <th></th>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Category" %}</th>
                <th>{% translate "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for name in names %}
                <tr>
                    <td class="align-middle text-end">{% eve_logo name.id name.name name.category 32 %}</td>
                    <td class="align-middle">{{ name.name }}</td>
                    <td class="align-middle">{{ name.category|title }}</td>
                    <td class="align-middle text-right">
                        <a class="btn btn-success add-new-btn" type="button" id="{{ name.id }}" title="Add {{ name.name }}">{% translate "Add" %}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
{% elif searched %}
    <p class="alert text-center alert-success">{% translate "Nothing found for" %} {{ searched }}</p>
    <hr>
{% endif %}
<div class="w-100">
    <form>
        {% csrf_token %}
        <p>
            <label for="id_name">{% translate "Name to search ESI for:" %}</label>
            <input type="text" name="name" maxlength="500" class="form-control" id="id_name" />
        </p>
    </form>
    <a class="btn btn-primary col-md-12" id="search-submit">{% translate "Submit" %}</a>
</div>
