{% load i18n %}
<p>
    {{ row.eve_name }}
    {% if row.eve_catagory == 'character' %}
        <br />
        <span class="badge text-bg-secondary">{{ row.corporation_name }}</span>
        <br />
        <span class="badge text-bg-secondary">{{ row.alliance_name }}</span>
    {% endif %}
</p>
{% if row.blacklisted %}
    <span class="badge text-bg-danger">{% translate "BLACKLISTED" %}</span>
{% endif %}
{% if row.restricted %}
    <span class="badge text-bg-danger">{% translate "RESTRICTED" %}</span>
{% endif %}
